<div *ngIf="listType!=null" class="list-input">
  <ng-container *ngFor="let fc of mformComponent.getFormComponentsArray();let i=index">
    <div class="editable-list-row">
      <div class="list-col-label">{{i}}: </div>
      <div class="col-value">
        <dynamic-input directiveType="{{listType}}" [mformComponent]="fc"></dynamic-input>
      </div>
      <span class="round-on-hover" (click)="removeComponentFromList(fc)">
        <i class="material-icons">clear</i>
      </span>
    </div>
  </ng-container>
  <div class="link-button" (click)="addFormComponent()">
    <i class="material-icons">add</i> Add
  </div>



</div>

<span [ngSwitch]="directiveType.toLowerCase()">
  <app-number-input *ngSwitchCase="'int'" [formComponent]="mformComponent"></app-number-input>
  <app-number-input *ngSwitchCase="'float'" [formComponent]="mformComponent"></app-number-input>
  <app-text-input *ngSwitchCase="'string'" [formComponent]="mformComponent"></app-text-input>
  <app-vec2-input *ngSwitchCase="'vec2'" [formComponent]="mformComponent"></app-vec2-input>
  <app-color-input *ngSwitchCase="'color'" [formComponent]="mformComponent"></app-color-input>

</span>