Add Shapes

<form *ngFor="let sh of shapes;let id=index" class="main-form">

    <div class="form-header">
        <img src="../images/shapes.svg" />{{sh.type.typeName}}
    </div>

    <div class="form-body">
        
        
        <div *ngFor="let member of sh.type.members"  class="form-input">
            <span class="span-label">
                {{member.labelName}}
                <fieldset [ngSwitch]="member.directiveType">
                    <number-input *ngSwitchCase="number" [formGroup]="shapeForms[id].createFormComponent(member.fieldName)"></number-input>
                </fieldset>
            </span>
           
        </div>


    </div>
</form>
