
$mdc-theme-background: #303030;
$mdc-theme-primary: #3a67e2;
$mdc-theme-secondary: #D28900;
$mdc-theme-surface: lighten($mdc-theme-background,5);

@import "material-components-web/material-components-web";

@import "./Icons.scss";



body {
    @include mdc-typography-base;
    
}

.appMenu {
    padding-bottom:5em;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
