
$mdc-theme-background: #303030;
$mdc-theme-primary: #3a67e2;
$mdc-theme-secondary: #D28900;
$mdc-theme-surface: lighten($mdc-theme-background,5);

@import "./scss/styles.scss";
@import "./scss/custom.scss";



