$background: #303030;
$mdc-theme-background: #303030;
$mdc-theme-primary: #47d3ff;
$mdc-theme-secondary: #D28900;
$focus-input-background: #3c3c3e;
$line-separator: #43574f;
$panel-border-color: rgba(255,255,255,0.03);
$inner-panel-color:#2f3138;
$panel-color: #424242;
$highlight-color: #D28900;
$font-color: white;
$font-size: 15px;
$font-size-big: 22px;
$highlight-line-color: #1385e5;
$link-text-color: #3a67e2;
$link-text-color-dark: #2d51b5;
$error-background-color: #5a265a;




