<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style type="text/css">
        @charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }
    </style>







    <link rel="stylesheet" href="../css/bootstrap.css">

    <link rel="stylesheet" href="../css/lightcolor3d.css">
    <link rel="stylesheet" href="../css/directives.css">
    <link rel="stylesheet" href="../css/spectrum.css">

    <!--<script src="javascript/effects.js"></script>-->
    <script data-main="../javascript/require_config" src="../javascript/require.js"></script>


</head>
<body ng-controller="Ctrl as controller">
    <div class="title-panel">
        CAD System

    </div>
    <br />
    <br />

    <div class="view-panel">
        <uib-tabset>
           
            <uib-tab heading="Shapes">
                <form>
                    <div class="vertical-toolbar">
                        <div class="vertical-toolbar-item"><img src="../images/add.svg"/> <a>Add</a>
                        </div>
                        <div class="vertical-toolbar-item" ng-repeat="type in types">
                            <a ng-click="controller.createShape(type)">{{type.typeName}}</a>
                        </div>

                    </div>
                    
                    <div class="content-vertical-toolbar-right">
                        <div class="main-form" ng-repeat="shape in shapes">
                            <shapeForm shape="shape"></shapeForm>
                            <!--<div class="form-header"><img src="../images/shapes.svg"/>{{shape.type.typeName}}</div>
                            <div class="form-body">
                                <div class="form-row" ng-repeat="field in shape.type.members">
                                    
                                </div>
                            </div>-->
                        </div>
                    </div>
                </form>
            </uib-tab>

            <uib-tab>
                <uib-tab-heading>
                    Lights
                </uib-tab-heading>


                <form class="main-form">


                    <div class="form-header"><img src="../images/directional_light.svg" /> Directional Light</div>


                    <div class="form-body">
                        <div class="form-row">
                            <span class="span-label">
                                Direction:
                            </span>
                            <vector-picker vector="dirLight.Direction" />
                        </div>

                        <div class="form-row">
                            <span class="span-col2">
                                <span class="span-label">Ambient:</span><dx-color-picker ng-model="dirLight.Ambient" />
                            </span>
                            <span class="span-col2">
                                <span class="span-label">Diffuse:</span><dx-color-picker ng-model="dirLight.Diffuse" />
                            </span>
                        </div>
                        <div class="form-row">
                            <span class="span-col2">
                                <span class="span-label">Specullar:</span><dx-color-picker ng-model="dirLight.Specular" />
                            </span>
                            <span class="span-col2">
                                <span class="span-label">Power:</span><input type="number" value="1" min="1" ng-model="dirLight.SpecPower" />
                            </span>
                        </div>
                        <div class="center-text" ng-click="controller.set_lights()">
                            <div class="round-button">
                                Ok
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab heading="Camera">
                <form class="main-form round-panel">
                    <div class="title center-text">
                        <h1>Rectangles Random Generation</h1>
                    </div>
                    <div class="form-row">
                        <span class="span-label">Number of Elements:</span> <input ng-model="Data.NumElements" type="number" min="0" max="99999" value="" />
                    </div>
                    <div class="form-row">
                        <span class="span-label">Number of Runs:</span> <input ng-model="Data.numberOfRuns" type="number" min="1" max="99999" value="" />
                    </div>
                    <div class="form-row">
                        <span class="span-label">Rotate Rectangles:</span> <input ng-model="Data.rotate" type="checkbox" />
                    </div>
                    <div class="group-form">
                        <div>Width</div>
                        <div>   <span>Min </span><input type="number" value="" ng-model="Data.minWidth" /> <span> Max </span><input ng-model="Data.maxWidth" type="number" value="" /></div>
                    </div>
                    <div class="group-form">
                        <div>Height</div>
                        <div>   <span>Min </span><input type="number" value="" ng-model="Data.minHeight" /> <span> Max </span><input ng-model="Data.maxHeight" type="number" value="" /></div>
                    </div>
                    <div class="center-text" ng-click="controller.Run()">
                        <div class="round-button">
                            Run Simulation
                        </div>
                    </div>
                    <div class="center-text" ng-show="Data.rectList.length != 0" ng-click="controller.RunAgain()">
                        <div class="roun
                        <div class=" round-button">
                            -b
                            Run Again
                        </div>
                    </div>


                </form>
            </uib-tab>
           

        </uib-tabset>
    </div>
    <!--<form class="main-form round-panel">
        <div class="title center-text">
            <h1>Rectangles Random Generation</h1>
        </div>
        <div class="form-row">
            <span class="span-label">Number of Elements:</span> <input ng-model="Data.NumElements" type="number" min="0" max="99999" value="" />
        </div>
        <div class="form-row">
            <span class="span-label">Number of Runs:</span> <input ng-model="Data.numberOfRuns" type="number" min="1" max="99999" value="" />
        </div>
        <div class="form-row">
            <span class="span-label">Rotate Rectangles:</span> <input ng-model="Data.rotate" type="checkbox" />
        </div>-->
    <!--<div class="group-form">
            <div>Width</div>
            <div>   <span>Min </span><input type="number" value="" ng-model="Data.minWidth" /> <span> Max </span><input ng-model="Data.maxWidth" type="number" value="" /></div>
        </div>
        <div class="group-form">
            <div>Height</div>
            <div>   <span>Min </span><input type="number" value="" ng-model="Data.minHeight" /> <span> Max </span><input ng-model="Data.maxHeight" type="number" value="" /></div>
        </div>

        <div class="center-text" ng-click="controller.Run()">
            <div class="round-button">
                Run Simulation
            </div>
        </div>

        <div class="center-text" ng-show="Data.rectList.length != 0" ng-click="controller.RunAgain()">
            <div class="round-button">
                Run Again
            </div>
        </div>


    </form>

    <div class="efficiency-graph-container svgplot-empty-graph"></div>-->
    <!--<div ng-repeat="model in Data.rectList" class="rectangle" style="width:{{model.width}}px;height:{{model.height}}px;background-color: rgb({{model.color[0]}},{{model.color[1]}},{{model.color[2]}})">
    </div>


    <div id="Container"></div>-->

</body>
</html>
