<section>Manage Shapes</section>
<processing-animation></processing-animation>
<div>
  <span class="round-button" (click)="enableAddShapeDialog()">
    <img src="images/add.svg" /> Add
  </span>
</div>

<form class="shape-card mdc-card mdc-elevation--z4" *ngFor="let sform of shapeForms;index as id;" [formGroup]="sform.form.Group">
  <div class="shape-card-header">
    <img src="images/shapes.svg" />{{sform.shape.TopologyTypeName}}
  </div>
  <div [ngSwitch]="sform.shape.TopologyTypeName" class="card-body" [formGroup]="sform.getTopologyForm().Group">

    <!-- Error Message -->
    <div class="error-panel" *ngIf="sform.errorMessages.length>0">
      <ul class="error-list">
        <li *ngFor="let error of sform.errorMessages">{{error}}</li>
      </ul>
    </div>


    <app-triangle2d *ngSwitchCase="'Tfsriangle2D'"></app-triangle2d>
    <div *ngSwitchDefault class="shape-container">
      <div *ngFor="let member of sform.shape.TopologyType.Members" class="form-input  {{sform.shape.TopologyTypeName.toLowerCase()}}">
        <div class="row-{{member.FieldName.toLowerCase()}}">
          <span class="col-label">
            {{member.LabelName}}:
          </span>
          <span class="col-value">
            <dynamic-input directiveType="{{member.DirectiveType}}" [mformComponent]="sform.getTopologyForm().getFormComponent(member.FieldName)"></dynamic-input>
          </span>
        </div>
      </div>
    </div>

    <div [ngSwitch]="sform.shape.RenderTypeName" *ngIf="sform.shape.RenderTypeName !=''" class="render-container" [formGroup]="sform.getRenderForm().Group">
      <div class="centerfy padding-small font-big">
        Render: {{sform.shape.RenderTypeName}}
      </div>
      <!-- <app-color-render2d *ngSwitchCase="'CyclicColor2D'" [mformComponent]="shapeForms[id].getFormComponent('RenderData')."></app-color-render2d> -->
      <div *ngSwitchCase="''"></div>
      <div *ngSwitchDefault>
        <div *ngFor="let member of sform.shape.RenderType.Members" class="form-input  {{sform.shape.RenderTypeName.toLowerCase()}}">
          <div class="row-render row-{{member.DirectiveType.toLowerCase().replace(' ','-')}} {{member.DirectiveType.toLowerCase().startsWith('list') ? 'row-list' : ''}} ">
            <span class="col-label">
              {{member.LabelName}}:
            </span>
            <span class="col-value">
              <dynamic-input directiveType="{{member.DirectiveType}}" [mformComponent]="sform.getRenderForm().getFormComponent(member.FieldName)"></dynamic-input>
            </span>
          </div>
        </div>
      </div>

      <div class="panel-button">
        <div class="link-button" (click)="addRender(sform.shape)">
          <img src="images/pencil.svg" /> CHANGE RENDER
        </div>
      </div>

    </div>


    <div class="panel-button" data-mdc-auto-init="MDCRipple" *ngIf="sform.shape.RenderTypeName ==''">
      <mdc-button type="primary" (click)="addRender(sform)">ADD RENDER</mdc-button>
    </div>


    <div class="panel-button" *ngIf="sform.shape.RenderTypeName !=''">
      <div class="btn btn-normal" (click)="renderShape(sform)">
        SAVE
      </div>
    </div>
  </div>
</form>



<app-modal title="Choose a Render" [show]="showRenderDialog" (close)="showRenderDialog=false" showButtons="false">
  <app-list-view [items]="rendersListView" [defaultImage]="'/images/shapes.svg'" (itemSelected)="renderSelected($event)"></app-list-view>
</app-modal>


<div class="modal" [class.show]="showAddShapeDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="disableAddShapeDialog()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Shape</h4>
      </div>
      <div class="modal-body">
        <app-list-view [items]="shapesListView" [defaultImage]="'/src/images/shapes.svg'" (itemSelected)="createShape($event)"></app-list-view>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="disableAddShapeDialog()">Cancel</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->